{% if section.settings.topbar_enabled %}
    <div class="topbar d-lg-block d-none" data-top-bar style="background-color: {{ section.settings.topbar_bg_color }}">
      <div class="container">
        <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center"
            style="min-height: {{ section.settings.topbar_height }}px !important; font-size: {{ section.settings.topbar_font_size}}rem !important; color: {{ section.settings.topbar_text_color }} !important">
            <div class="font-weight-medium text-12 d-block text-center letter-spacing-1 word-spacing-1">{{ section.settings.topbar_text }}</div>
          </div>
        </div> 
      </div>
    </div>
{% endif %}

{% schema %}
  {
    "name": "Top Bar",
    "settings": [
		{
            "type": "header",
            "content": "Top Bar"
        },
        {
            "type": "checkbox",
            "id": "topbar_enabled",
            "label": "Enabled?",
            "default": false
        },
        {
            "type": "html",
            "id": "topbar_text",
            "label": "Message"
        },
        {
            "type": "color",
            "id": "topbar_bg_color",
            "label": "Background Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "topbar_height",
            "label": "Minimum Height",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 40
        },
        {
            "type": "range",
            "id": "topbar_font_size",
            "min": 0.5,
            "max": 3,
            "step": 0.1,
            "unit": "rem",
            "label": "Font Size",
            "default": 1
        },
        {
            "type": "color",
            "id": "topbar_text_color",
            "label": "Text Color",
            "default": "#ffffff"
        }
	
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
